extends ../layout

block content
  .col-sm-12
    .page-header
      h3 Your Binner pickup requests
      hr
      each request in requests
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='id', value=request.id)

          .col-sm-12
            label.sr-only(for="name") Name
            if request.user
              .input-group
                .input-group-addon
                  i.fa.fa-user
                input.form-control#name(type='text', name='name', value=request.user.profile.name, readonly)
            else
              .input-group
                .input-group-addon
                  i.fa.fa-user
                input.form-control#name(type='text', name='name', value="no name entered", readonly)
          .col-sm-12
            label.sr-only(for="email") Email
            if request.user
              .input-group
                .input-group-addon
                  i.fa.fa-envelope-square
                input.form-control(type='textarea', name='email', class='email', value=request.user.email, readonly)
            else
              .input-group
                .input-group-addon
                  i.fa.fa-envelope
                input.form-control(type='textarea', name='email', class='email', value="deleted user", readonly)
          .col-sm-12
            label.sr-only(for="address") Phone Number
            .input-group
              .input-group-addon
                i.fa.fa-phone
              input.form-control(type='textarea', name='phone', class='phone', value=request.phone)
          .col-sm-12
            label.sr-only(for="address") Address
            .input-group
              .input-group-addon
                i.fa.fa-building
              input.form-control(type='textarea', name='address', class='address', value=request.address)
          .col-sm-12
            label.sr-only(for="date") Date
            .input-group
              .input-group-addon
                i.fa.fa-calendar
              input.form-control(type='text', name='date', class='date', value=request.date)
          .col-sm-12
            label.sr-only(for="time") Time
            .input-group
              .input-group-addon
                i.fa.fa-clock-o
              input.form-control(type='text', name='time', class='time', value=request.time)
          .col-sm-6
            label.sr-only(for="amount") # of Containers
            .input-group
              .input-group-addon
                i.fa.fa-beer
              input.form-control(type='text', name='amount', class='text', value=request.amount)
          .col-sm-6
            label.sr-only(for="glass") Amount Glass
            .input-group
              .input-group-addon
                i.fa.fa-flask
                i.fa.fa-percent
              input.form-control(type='text', name='glass', class='text', value=request.glass)
          .col-sm-12
            label.sr-only(for="note") Note
            .input-group
              .input-group-addon
                i.fa.fa-sticky-note-o
              input.form-control(type="text", name='note', class='text', value=request.note)
          if (request.recurring === "Yes")
            .col-sm-12
              label.sr-only(for="recurring") Recurring
              .input-group
                .input-group-addon
                  i.fa.fa-heart
                input.form-control.recurring(type="text", name='note', class='text', value="Recurring Pickup")
          .col-sm-12
            .btn-group.btn-group-justified(role="group")
              .btn-group(role="group")
                button.btn.btn-primary(formaction='/request/update')
                  i.fa.fa-pencil
                  | Update
              .btn-group(role="group")
                button.btn.btn-danger(formaction="/request/delete")
                  i.fa.fa-close
                  | Delete
            hr
        hr
