extends ../layout

block content
  .col-sm-2
  .col-sm-10
    .page-header
      h3 Your Binner pickup requests
    ul
      each request in requests
        .form-group.row
          form(action='/request/update', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='id', value=request.id)
            .col-sm-4
              label.col-sm-4.control-label Requester
              if request.user
                input.form-control(type='text', name='name', class='name', value=request.user.profile.name, readonly)
              else
                input.form-control(type='text', name='name', class='name', value="no name entered", readonly)
            .col-sm-4
              label.col-sm-4.control-label Email
              input.form-control(type='textarea', rows="3", name='address', class='address', value=request.user.email, readonly)
        .form-group.row
          .col-sm-3
            label.col-sm-5.control-label Address
            input.form-control(type='textarea', rows="3", name='address', class='address', value=request.address)
          .col-sm-5
            label.col-sm-5.control-label Pickup Date
            input.form-control(type='text', name='date', class='date', value=request.date)
          .col-sm-5
            label.col-sm-5.control-label Requested Time
            input.form-control(type='text', name='time', class='time', value=request.time)
        .form-group.row
          .col-sm-8
            label.col-sm-8.control-label Note
            input.form-control(type='text', name='note', class='note', value=request.note)
        .form-group.row
          .col-sm-1
            button.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Update
          .col-sm-1
          form(action='/request/delete', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='id', value=request.id)
            button.btn.btn-danger(type='submit')
              i.fa.fa-close
              | Delete
